@use 'variables' as v;

h1, h2, h3 {
    font-family: v.$primaryFont;
    text-transform: uppercase;
    line-height: 1.5;
    text-align: center;
}

h1{
    font-size: 4rem;
}
h2{
    font-size: 3rem;
    color: v.$primary;
    span{
        color: v.$secondary;
        display: block;
        font-size: 1.5rem;
    }

    &::after{
        content: "";
        display: block;
        width: 10rem;
        height: 10rem;
        margin: 0 auto;
        background-image: url('../img/cafe.svg');
        background-position: center;
        background-size: 10rem;
    }
}

.heading-white{
    @extend h2;
    color: v.$white;

    span{
        color: v.$white;
    }

    &::after{
        display: none;
    }
}

h3{
    font-size: 3rem;
}

