@use 'base/mixins' as m;

.nav-bar {
    display: flex;

    flex-direction: column;

    @include m.w-tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .logo img{
        width: 20rem;
    }
    .logo{
        margin: 0 auto;
        @include m.w-tablet {
            margin: 0;
        }
    }
    
    
}